<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INCAAFLatestRankings" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61766/NCAAFLatestRankings.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INCAAFLatestRankings"
                contract="ServiceReference1.INCAAFLatestRankings" name="BasicHttpBinding_INCAAFLatestRankings" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
